server{
    listen      {{ nginx_port }};
    server_name {{ nginx_host }};
    index index.php index.html index.htm;
    {% if ansible_distribution=='CentOS' %}
    root  {{ centos_nginx_web_site }};
    {% else %}
    root  {{ ubuntu_nginx_web_site }};
    {% endif %}

     location / {
       try_files $uri $uri/ /index.php?$query_string;
   }

     error_log /var/log/error_{{ nginx_host }}.log error;
}